<!DOCTYPE html>

<html>

  <head>

    <link href="../assets/styles.css" rel="stylesheet" type="text/css"/>

  </head>

  <body>

    <% include partial/nav.ejs %>

    <h1>Sign Up With Us</h1>

      <p>Please complete your contact details for us should we require any further information</p>

      <form id="signupForm" class="containerForm" method="POST" action="/signup">

        <label for="firstName">What is your first name?</label>
        <br/>
        <input class="formInput" type="text" name="firstName" value="<%= qs.firstName %>" />
        <br/>
        <label for="lastName">What is your last name?</label>
        <br/>
        <input class="formInput" type="text" name="lastName" value="<%= qs.lastName %>" />
        <br/>
        <label for="age">What is your age?</label>
        <br/>
        <input class="formInput" type="text" name="age" value="<%= qs.age %>" />
        <br/>
        <label for="email">What email address should we use to contact you by?</label>
        <br/>
        <input class="formInput" type="text" name="email" value="<%= qs.email %>" />
        <br/>
        <label for="password">Pick a password, just for incase!</label>
        <br/>
        <input class="formInput" type="text" name="password" value="<%= qs.password %>" />
        <br/>
        <label for="confirmPassword">Reenter password please, just for incase!</label>
        <br/>
        <input class="formInput" type="text" name="confirmPassword" value="<%= qs.confirmPassword %>" />
        <br/>
        <input type="submit" class="submitButton" value="submit" />
        

      </form>

  </body>

</html>
